/* ===========================
 table of contents
==============================
1. Header Design
2. Button & icon
3- Modal == pop up
4- Responsive Design (media query)*/

/* ========================
    1. Header Design
=========================== */
:root {
  --primary: #000;
  --secondary: rgb(24 24 27);
  --border: rgba(63, 63, 70, 0.4);

  --title: rgb(244 244 245);
  --subtitle: rgb(161 161 170);

  --bgHeader: rgb(39, 39, 42);
  --blue: rgb(93, 188, 252);

  --icon-hover: #d4d4d8;

  --container-padding: 4.8rem;
}

.navbar{
  background-color:var(--primary);
  color: var(--title);
}

.navbar .container {
  background-color: var(--bgHeader);
  padding: 0.77rem 1.6rem;
  border-radius: 55px;
  box-shadow: 1px 1px 40px #2323242a;
  border: 2px solid var(--border);
  
}
.navbar .container ul li a {
  color: var(--title);
  opacity: 0.9;
  font-size: 1.01rem;
  font-weight: 500;
}
.navbar .container a {
  color: var(--title);
  font-size: 1.5rem;
}

.navbar-toggler{
  background-color: #DDD;
}
.navbar .container a:hover {
  color: #047b53;}

  .navbar .container ul li a:hover {
  color: #047b53;
  opacity: 1;
  font-size: 1.1rem;
}



/* ========================
    2. Button & icon
=========================== */


/* ========================
    3- Modal == pop up
=========================== */


/* =====================================
  4- Responsive Design (media query)
======================================== */
@media (max-width: 700px) {
  header.flex nav {
    display: none;
  }

  header button.menu {
    display: block;
  }
}
